<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            width: 200px;
            height: 200px;
            border: 1px solid;
        }
        span {
            width: 200px;
            height: 200px;
            border: 1px solid;
        }

    </style>
</head>
<body>
    <!-- display : block div
        {- mỗi phần từ 1 hàng ngang
        - auto xuống dòng
        - có thể chỉnh Width, height
        - phần chiếm dụng = width }
        display : inline span
        {
            - các phàn tử nằm trên 1 dòng
            - không thể chỉnh width, height
            - phần chiếm dụng = nội dung
        }
        display : inline-block
        {
            - các phần tử nằm trên 1 dòng
            - có thể chỉnh width, height
            - phần chiếm dụng = width

        }
        có thể chuyển đổi linh hoạt giữa các loại display
    -->
    <div>A</div>
    <div>A</div>
   <span>B</span>
   <span>B</span>
</body>
</html>