<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .st1 {
            width: 100%;
            height: 100px;
            background: blue;
            position: absolute;
            top: 500px;
        }
        .st2 {
            width: 100%;
            height: 100px;
            background: red;
            position: absolute;
            top: 100px;
        }
    </style>
</head>
<body>
    <div class="st1"></div>
    <!-- top * khoang casch tu vien tren toi ben tren cua web
    left: khoang cach tu vien trai toi be trai cua web
    position: fixed quy dinh phan tu dung yen tai vi tri khi lan
    position * static: mac dinh, khong cho phep quy dinh vi tri phan tu
    position * absolute quy dinh vi tri theo doc la pha tu cha
    position : relative quy dinh vi tri theo goc la noi mac dinh no phai o
     1 div co class ast2:
    +w = 300
     + h = 2000
    + do
    +cach tren 100px
     +cach trai 200px-->
     <div class="st2"></div>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hello</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>
     <h1>Hi</h1>


</body>
</html>